{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shadow Ultimatum Ping Helper</title>
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      body {
        background-color: #1e272e;
      }
    </style>
  <body>

    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
      <a class="navbar-brand" href="#">
        
        <img src="{% static 'home/logo.png' %}" alt="">
        Shadow Ultimatum Ping Helper
        
      </a>
      </div>
    </nav>
    <br />

    <div class="container">
        
        <form>
            <div class="mb-3 text-white">
                <label for="exampleFormControlInput1" class="form-label">FC Name:</label>
                <input type="email" class="form-control" id="fc-name-field" placeholder="">
              </div>
              <div class="mb-3 text-white">
                <label for="exampleFormControlInput1" class="form-label">Formup Location:</label>
                <input type="email" class="form-control" id="formup-field" placeholder="">
              </div>
              <div class="mb-3 text-white">
                <label for="exampleFormControlTextarea1" class="form-label">Additional Information:</label>
                <textarea class="form-control" id="hurf-field" rows="3"></textarea>
              </div>
              <select class="form-select" id="doctrine-menu">
                <option selected value="None">Select Doctrine</option>
                <option value="eagle">Eagle Doctrine</option>
                <option value="muninn">Muninn Doctrine</option>
                <option value="bombbomber">Bomb-Bomber Doctrine</option>
                <option value="caracal">Caracal Doctrine</option>
                <option value="cormorant">Cormorant Doctrine</option>
                <option value="ferox">Ferox Doctrine</option>
                <option value="flycatcher">Flycatcher Doctrine</option>
                <option value="kikimora">Kikimora Doctrine</option>
                <option value="torpbomber">Torp-Bomber Doctrine</option>
                <option value="adm">ADM</option>
              </select>
              <br>
              <select class="form-select" id="comms-menu">
                <option selected value="None">Select Comms</option>
                <option value="s1">Strategic 1</option>
                <option value="s2">Strategic 2</option>
                <option value="p1">Peacetime 1</option>
                <option value="p2">Peacetime 2</option>
                <option value="st">Standing Fleet Main</option>
              </select>
              <br>
              <select class="form-select" id="reimbursement-menu">
                <option selected value="None">Select Reimbursement</option>
                <option value="strategic">Strategic</option>
                <option value="none">None</option>
              </select>
              <br>
              <div class="form-check text-white">
                <input class="form-check-input" type="checkbox" id="requestingPingCheck">
                <label class="form-check-label" for="requestingPingCheck">
                    Are you requesting a ping?
                </label>
              </div>    
          </form>
          <hr>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label text-white">Ping this text to alliance-pings:</label>
            <textarea class="form-control" id="output-field" rows="10" placeholder=""></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label text-white">Copy this into your fleet MOTD:</label>
            <textarea class="form-control" id="motd-field" rows="10"></textarea>
          </div>
          <div class="text-white text-center">
            <p>
              Inspired by <a href="https://pings.gnf.lt/">Goonswarm Federation</a> | <a href="#">Imprint</a> | <a href="#">Privacy</a>
            </p>
          </div>
    </div>
    <script src="{% static 'home/js/generate.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
